<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testpage</title>
</head>
<body>
    <img class="fit-picture" src="/static/wilson_logo.jpg" alt="WILSON!" style="max-width: 30%; height: auto;">
    <h2><a href="{{ url_for('mainpage.mainpage') }}"><- Back</a></h2>
    <h3>{{gpt_answer}}</h3>
    <div id="result"></div>
    <input type="text" id="text">
    <button id="submit">Submit</button>

    <script type="text/javascript">
        document.getElementById("submit").addEventListener("click", function(){
            var text = document.getElementById("text").value;
            var data = JSON.stringify({"text": text});
            fetch("{{ url_for('mainpage.testpage') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: data
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("result").innerHTML = data.data;
            });
        });
    </script>

</body>
</html>